<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>El Chalet</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="chalet.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script src="chalet.js"></script>
</head>
<body>

BEGIN
{{.}}
END
  <div class="block">
    <h3>Persiana de la cocina</h3>
    <div class="slider"></div>
  </div>
  <div class="block">
    <h3>Persiana del patio</h3>
    <div class="slider"></div>
  </div>
  <div class="block">
    <h3>Persiana de la chimenea</h3>
    <div class="slider"></div>
  </div>
</body>
</html>
